*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

body{
  background:#fff;
  color:#111;
}

/* NAVBAR */
.navbar{
  position:sticky;
  top:0;
  background:rgba(255, 253, 253, 0.95);
  border-bottom:1px solid #eee;
  z-index:1000;
}
.nav-container{
  max-width:1100px;
  margin:auto;
  padding:15px;
  display:flex;
  justify-content:space-between;
}
.nav-links a{
  margin-left:20px;
  text-decoration:none;
  color:black;
  font-weight:600;
}

/* WRAPPER */
.wrapper{
  max-width:1300px;
  margin:auto;
  padding:20px;
}

/* HERO */
.hero{
  padding:80px 0;
}
.hero-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

/* Typing */
.typing{
  font-size:48px;
  border-right:3px solid black;
  width:max-content;
}

/* Profile Image */
.hero-img{
  display:flex;
  justify-content:center;
}
.hero-img img{
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* LOGOS */
.logo-row i{
  font-size:28px;
  margin:8px;
  cursor:pointer;
  position:relative;
}

/* Tooltip */
.logo-row i::after{
  content:attr(data-skill);
  position:absolute;
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  background:#f7f5f5;
  color:#0a0a0a;
  padding:4px 8px;
  border-radius:6px;
  font-size:10px;
  opacity:0;
  transition:.3s;
}
.logo-row i:hover::after{
  opacity:1;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:25px;
  padding:12px 25px;
  border-radius:25px;
  background:black;
  color:white;
  text-decoration:none;
}

/* SECTIONS */
.section{
  padding:70px 0;
}
.skills-bg{
  background:#f7f7f7;
}

/* SKILLS */
.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:15px;
}
.small-cards .card{
  padding:15px;
  background:white;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
}
.card:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

/* PROJECTS SECTION */
.projects-section{
  padding:80px 10%;
  background:#fff;
}
.section-title{
  text-align:center;
  font-size:40px;
  margin-bottom:60px;
}

/* Project Card */
.project-card{
  display:flex;
  align-items:center;
  gap:50px;
  margin-bottom:100px;
}
.project-card:nth-child(even){
  flex-direction:row-reverse;
}

.project-img{
  flex:1;
}
.project-img img{
  width:100%;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.project-content{
  flex:1;
}
.project-content h3{
  font-size:32px;
  margin-bottom:15px;
}
.project-content p{
  color:#555;
  line-height:1.7;
  margin-bottom:20px;
}
.project-tech{
  font-weight:600;
  margin-bottom:25px;
}

/* Project Buttons */
.project-buttons a{
  text-decoration:none;
  padding:12px 22px;
  border-radius:8px;
  margin-right:15px;
  font-weight:600;
  display:inline-block;
  transition:0.3s;
}

.btn-live{
  background:#040404;
  color:#fff;
}
.btn-live:hover{
  background:#7d7d7db1;
  color: black;
}

.btn-code{
  border:2px solid #333;
  color:#333;
}
.btn-code:hover{
  background:#333;
  color:#fff;
}

/* CERTIFICATIONS */
.cert-bg{
  background:#2e2e2e;
  color:rgb(4, 4, 4);
  padding:80px 20px;
}

.cert-title{
  text-align:center;
  font-size:40px;
  margin-bottom:50px;
  color:white;
}

/* Grid */
.cert-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

/* Card */
.cert-card{
  position:relative;
  border-radius:16px;
  overflow:hidden;
  background:#080707;
  color:white;
  transition:transform 0.4s ease;
}
.cert-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

/* Tag */
.cert-tag{
  position:absolute;
  top:15px;
  left:15px;
  background:#000000;
  color:white;
  padding:6px 14px;
  border-radius:8px;
  font-size:13px;
}

/* Content */
.cert-content{
  padding:20px;
}
.cert-content h3{
  font-size:20px;
  margin-bottom:10px;
}
.cert-date{
  font-size:14px;
  color:#bbb;
}

/* Hover */
.cert-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 30px rgba(0,0,0,0.4);
}

/* CONTACT BUTTON */
#floatingBtn{
  position:fixed;
  right:20px;
  bottom:20px;
  padding:15px 25px;
  border-radius:30px;
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

/* CONTACT POPUP */
.contact-popup,
.success-popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  transform:scale(0);
  transition:.3s;
}
.contact-popup form{
  background:white;
  padding:25px;
  border-radius:20px;
  width:320px;
  display:flex;
  flex-direction:column;
}
input,textarea{
  margin-bottom:10px;
  padding:10px;
}
.success-popup h3{
  background:white;
  padding:20px;
  border-radius:12px;
}

.contact-popup.show,
.success-popup.show{
  transform:scale(1);
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  border-top:1px solid #eee;
}

/* SCROLL REVEAL UPDATED */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
  animation:fadeUp 1s ease forwards;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* RESPONSIVE */
@media(max-width:900px){
  .project-card,
  .project-card:nth-child(even){
    flex-direction:column;
  }
}

@media(max-width:768px){
  .hero-grid{
    grid-template-columns:1fr;
    text-align:center;
  }
  .nav-links{
    display:none;
  }
  .cert-title{
    font-size:30px;
  }
  .section-title{
    font-size:32px;
  }
}

/* EDUCATION */
.education-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.edu-card {
  background: #1e1e1e;
  padding: 20px 25px;
  border-radius: 12px;
  border-left: 5px solid #030303;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.edu-card.show {
  opacity: 1;
  transform: translateY(0);
}

.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-header h3 {
  color: #fff;
  font-size: 1.2rem;
}

.edu-year {
  color: #fcfcfc;
  font-weight: bold;
}

.edu-institute {
  color: #ccc;
  margin-top: 5px;
}

.edu-desc {
  color: #aaa;
  margin-top: 8px;
  font-size: 0.95rem;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .edu-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .edu-year {
    margin-top: 5px;
  }
}

/* SKILLS SECTION */
.skills-section {
  background: #0b0b0b;
  padding: 70px 10%;
  color: white;
}

.skills-title {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-pill {
  background: #141414;
  color: #dcdcdc;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #1f1f1f;
}

.skill-pill:hover {
  background: #1f1f1f;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(255,255,255,0.08);
}

.skill-pill {
  opacity: 0;
  transform: translateY(20px);
}

.skill-pill.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s ease;
}

/* FOOTER */
.footer {
  background: #fff;
  padding: 60px 80px;
  font-family: Arial, sans-serif;
  color: #111;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.back-to-top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back-to-top button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #333;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.footer-center {
  margin: 60px 0;
}

.small-text {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.big-text {
  font-size: 120px;
  font-weight: 800;
  color: #eee;
  line-height: 1;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  padding: 12px 26px;
  border: 1px solid #999;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #000;
  color: #fff;
}

.credits {
  text-align: right;
  font-size: 14px;
  color: #444;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .big-text {
    font-size: 60px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .credits {
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    gap: 15px;
  }
}
/* LETS TALK SMALL POP ANIMATION */

.big-text{
  transition: transform 0.3s ease, color 0.3s ease;
}

/* pop when page reaches footer */
.footer-center{
  animation: popOnce 0.6s ease;
}

@keyframes popOnce{
  0%{
    transform: scale(0.9);
    color:#0b0b0b;
  }
  100%{
    transform: scale(1);
    color:black;
  }
}

/* hover effect */
.big-text:hover{
  transform: scale(1.08);
  color:black;
}
/* CONTACT POPUP */
.contact-popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  pointer-events:none;
  transition:0.3s ease;
}

.contact-popup.show{
  opacity:1;
  pointer-events:auto;
}

/* FORM BOX */
.contact-popup form{
  background:#fff;
  padding:35px 30px;
  border-radius:14px;
  width:350px;
  display:flex;
  flex-direction:column;
  gap:12px;
  animation:popup 0.35s ease;
}

/* POPUP ANIMATION */
@keyframes popup{
  from{
    transform:scale(0.85);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}

/* TITLE */
.contact-popup h3{
  text-align:center;
  margin-bottom:10px;
  font-size:20px;
}

/* INPUTS */
.contact-popup input,
.contact-popup textarea{
  padding:10px 12px;
  border:1px solid #ddd;
  border-radius:8px;
  font-size:14px;
  outline:none;
  transition:0.2s;
}

.contact-popup input:focus,
.contact-popup textarea:focus{
  border-color:black;
}

/* TEXTAREA */
.contact-popup textarea{
  resize:none;
  height:90px;
}

/* BUTTONS */
.contact-popup button{
  padding:10px;
  border:none;
  border-radius:8px;
  font-size:14px;
  cursor:pointer;
  transition:0.3s;
}

/* SEND BUTTON */
.contact-popup button[type="submit"]{
  background:black;
  color:white;
}

.contact-popup button[type="submit"]:hover{
  background:#333;
}

/* CLOSE BUTTON */
#closePopup{
  background:#eee;
}

#closePopup:hover{
  background:#ddd;
}